:root{
    --color-whiter:#f4f2ee;
    --color-gris:#5f5f5f;
    --color-gris2:#c9dbf8;
    --color-gris3:#888;
    --color-gris4:#777;
    --color-gris5:#999;
    --color-white:#fff;
    --color-white2:#ccc;
    --color-whiter2:#edf3f8;
    --color-black:#222;
    --color-black2:#333;
    --color-green:#41db51;
    --color-blue:#2874b1;

}